@import "tailwindcss";

.draw-box {
    background-color: rgba(127, 255, 127, 0.5);
}
.annotated-box {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    padding: 2px;
    background-color: rgba(255, 0, 0, 0.3);
}
.annotated-box:hover {
    background-color: rgba(255, 0, 0, 0.7);
}
.annotate-select {
    background-color: #d1d5db;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    color: black;
    font-size: 14px;
    width: 200px
}

.close-button {
    font-family: monospace;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 21;
    font-size: 20px;
    overflow: hidden;
    color: #fff;
    background-color: #030;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.selected-box {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #007bff;
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

@config "../tailwind.config.js"

